.title {
    text-align: center;
    font-size: 40px;
    font-variant-caps: titling-caps;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filter-group {
    display: flex;
    width: 19%;
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 0px;
}

    .filter-group label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .filter-group select {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    .filter-group input[type="text"] {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - 22px); /* Dopasowanie wysokości */
    }

.candidate-table {
    width: 100%;
    border-collapse: collapse;
}

    .candidate-table th, .candidate-table td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .candidate-table th {
        background-color: #1E5899;
        color: white;
    }

    .candidate-table td {
        background-color: #f9f9f9;
        text-align: center;
        vertical-align: middle;
    }

        .candidate-table td .icon {
            display: inline-block; 
            margin: 0; 
        }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1E5899;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .add-button:hover {
        background-color: #164f7c;
    }

.filter-group-4columns {
    display: flex;
    width: 24%; 
    flex-direction: column;
    margin-right: 10px; 
}

    .filter-group-4columns select {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        width: 100%; 
    }



