
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <span class="title">
            e-wybory.gov.pl
            <img src="images/PolandIcon.png" alt="Poland" class="nav-icon" />
        </span>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3 first-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="images/HomeIcon.png" alt="Home" class="nav-item-icon-first" />
                Strona główna
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/vote">
                <img src="images/VoteIcon.png" alt="Vote" class="nav-item-icon" />
                Głosowanie

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/candidatelist">
                <img src="images/CandidatesIcon.png" alt="Candidates" class="nav-item-icon" />
                Kandydaci

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/statistics">
                <img src="images/StatsIcon.png" alt="Stats" class="nav-item-icon" />
                Statystyki

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/info">
                <img src="images/InfoIcon.png" alt="Info" class="nav-item-icon" />
                Informator wyborczy

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/configure-election">
                <img src="images/ConfigureElection.png" alt="ConfigureElection" class="nav-item-icon" />
                Konfiguruj wybory

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/committeelist">
                <img src="images/ConfigureCommittee.png" alt="ConfigureCommittee" class="nav-item-icon" />
                Konfiguruj komitet

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/candidatelist">
                <img src="images/ConfigureCandidate.png" alt="ConfigureCandidate" class="nav-item-icon" />
                Konfiguruj kandydata

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/constituencylist">
                <img src="images/ConfigureConstituency.png" alt="ConfigureConstituency" class="nav-item-icon" />
                Konfiguruj okręg

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/districtlist">
                <img src="images/ConfigureDistrict2.png" alt="ConfigureDistrict" class="nav-item-icon" />
                Konfiguruj obwód

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/commissionerslist">
                <img src="images/ConfigureCommittee.png" alt="Info" class="nav-item-icon" />
                Konfiguruj skład komisji

            </NavLink>
        </div>
    </nav>

        <nav class="flex-column">
            <div class="nav-item px-3 login-item">
                <NavLink class="nav-link" href="login">
                    <img src="images/LogInIcon.png" alt="Log In" class="nav-item-icon" />
                    Zaloguj się

                </NavLink>
            </div>
            <div class="nav-item px-3 register-item">
                <NavLink class="nav-link" href="register">
                    <img src="images/SignUpIcon.png" alt="Sign Up" class="nav-item-icon" />
                    Zarejestruj się

                </NavLink>
            </div>
    </nav>
</div>