@page "/account"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@using E_Wybory.Client.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject IPersonManagementService PersonManagementService
@inject IElectionUserManagementService ElectionUserManagementService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using E_Wybory.Client.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization





<link href="forms.css" rel="stylesheet" />


<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="account-form-container">
                <h1>Twoje Konto</h1>


                <div class="form-group">
                    <label>Imię :</label>
                    <InputText @bind-Value="person.Name" readonly class="form-input" />
                </div>

                <div class="form-group">
                    <label>Nazwisko :</label>
                    <InputText @bind-Value="person.Surname" readonly class="form-input" />
                </div>

                <div class="form-group">
                    <label>PESEL :</label>
                    <InputText @bind-Value="person.PESEL" readonly class="form-input" />
                </div>

                <div class="form-group">
                    <label>Data urodzenia :</label>
                    <InputText @bind-Value="person.DateOfBirthString" readonly class="form-input" />
                </div>


                <div class="form-group">
                    <label>Email :</label>
                    <InputText @bind-Value="user.Email" readonly class="form-input" />
                </div>

                <div class="form-group">
                    <label>Numer telefonu :</label>
                    <InputText @bind-Value="user.PhoneNumber" readonly class="form-input" />
                </div>


                <div class="two-factor-section">
                    <label>Weryfikacja dwuetapowa :</label>
                    <div class="status-message-blue">@VerificationMessage</div>
                    <button class="submit-button @ButtonClass" @onclick="NavigateTo2FA">
                        @ButtonLabel
                    </button>
                </div>


                <div class="password-section">
                    <label>Hasło :</label>
                    <button class="wide-password-button" @onclick="NavigateToChangePassword">Zmień hasło</button>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="not-authorized-container">
                <img src="images/WarningIcon.png" alt="Alert Icon" class="alert-icon" />
                <p class="not-authorized-message">Nie posiadasz odpowiednich uprawnień do wyświetlenia tej strony</p>
                <img src="images/WarningIcon.png" alt="Alert Icon" class="alert-icon" />
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@code {
    private PersonViewModel person = new();
    private ElectionUserViewModel user = new();
    private string VerificationMessage;
    private string VerificationClass;
    private string ButtonClass = "active-button";
    private bool IsButtonDisabled = false;
    private string ButtonLabel = "Weryfikuj";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        var userIdClaim = user.FindFirst("IdElectionUser")?.Value;


        if (!string.IsNullOrEmpty(userIdClaim) && int.TryParse(userIdClaim, out var userId))
        {
            this.user = await ElectionUserManagementService.GetElectionUserById(userId);
            person = await PersonManagementService.GetPersonById(this.user.IdPerson);

            UpdateVerificationMessage(!string.IsNullOrEmpty(this.user.UserSecret));
        }
    }

    private void UpdateVerificationMessage(bool is2FAEnabled)
    {
        if (is2FAEnabled)
        {
            VerificationMessage = "Użytkownik zweryfikowany";
            VerificationClass = "status-message success";
            ButtonClass = "active-button";
            ButtonLabel = "Resetuj weryfikację";
            IsButtonDisabled = false;
        }
        else
        {
            VerificationMessage = "Użytkownik niezweryfikowany";
            VerificationClass = "status-message error";
            ButtonClass = "active-button";
            ButtonLabel = "Weryfikuj";
            IsButtonDisabled = false; 
        }
    }

    private void NavigateTo2FA()
    {
        if (!IsButtonDisabled)
        {
            NavigationManager.NavigateTo("/account/enable-2fa");
        }
    }

    private void NavigateToChangePassword()
    {
        NavigationManager.NavigateTo("/forgot-password");
    }
}
