@page "/cancelvoter"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@inject NavigationManager NavigationManager
<link href="forms.css" rel="stylesheet" />

<div class="form-container">
    <h1>WYPISYWANIE WYBORCY</h1>

    <form>
        <div class="form-group">
            <label for="district">OBWÓD GŁOSOWANIA</label>
            <input type="text" id="district" value="OKW 1 Kędzierzyn Koźle" readonly />
        </div>

        <div class="form-group">
            <label for="pesel">PESEL WYBORCY</label>
            <input type="text" id="pesel" @bind="pesel" placeholder="Nr Pesel wyborcy" />
        </div>

        <div class="form-row">
            <button type="submit" class="submit-button" @onclick="GoToSubmitCancelVoter">DALEJ</button>
            <button type="button" class="cancel-button" @onclick="Cancel">ANULUJ</button>
        </div>
    </form>
</div>

@code {
    private string pesel;

    // tutaj metoda do przekierowania razem z peselem musi być zaimplementowana
    private void GoToSubmitCancelVoter()
    {
        if (!string.IsNullOrWhiteSpace(pesel))
        {
            NavigationManager.NavigateTo("/submitcancelvoter");
        }
        else
        {
            Console.WriteLine("Brak pesel.");
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/cohome");
    }
}
