@page "/checkstatusresult"
@using E_Wybory.Client.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IElectionUserManagementService ElectionUserManagementService
@inject IElectionManagementService ElectionManagementService
@inject IElectionVoterManagementService ElectionVoterManagementService
@inject IPersonManagementService PersonManagementService
@inject IVoterManagementService VoterManagementService
@inject NavigationManager NavigationManager
<link href="forms.css" rel="stylesheet" />
<CascadingAuthenticationState>
    <AuthorizeView Roles="Komisja wyborcza, Administratorzy" Context="authContext">
         <Authorized>

<div class="form-container">
    <h1>SPRAWDŹ STATUS GŁOSOWANIA</h1>

    <form @onsubmit="CheckStatus">
        <div class="form-group">
            <label for="pesel">PESEL WYBORCY</label>
            <input type="text" id="pesel" @bind="pesel" />
        </div>
        <button type="submit" class="btn btn-primary submit-button">SPRAWDŹ</button>

        @if (hasVoted != null && hasVoted == true)
        {
            <div class="status-alert status-alert-red">
                <img src="images/AlertIcon.png" alt="Alert" class="status-icon" />
                <span class="status-text">WYBORCA ODDAŁ JUŻ SWÓJ GŁOS</span>
            </div>
        }
        else if (hasVoted != null && hasVoted == false)
        {
            <div class="status-alert status-alert-blue">
                <img src="images/TickIcon.png" alt="Tick" class="status-icon" />
                <span class="status-text">WYBORCA NIE ODDAŁ JESZCZE GŁOSU</span>
            </div>
        }
                <button type="button" class="cancel-button" @onclick="Cancel">COFNIJ</button>

    </form>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3">@errorMessage</div>
    }
</div>
    </Authorized>
        <NotAuthorized>
            <div class="not-authorized-container">
                <img src="images/WarningIcon.png" alt="Alert Icon" class="alert-icon" />
                <p class="not-authorized-message">Nie posiadasz odpowiednich uprawnień do wyświetlenia tej strony</p>
                <img src="images/WarningIcon.png" alt="Alert Icon" class="alert-icon" />
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
@code {
    private bool? hasVoted = null; 
    private string pesel { get; set; }
    private string errorMessage = String.Empty;

    private List<ElectionViewModel> activeElections = new List<ElectionViewModel>();
    private List<DistrictViewModel> districts = new List<DistrictViewModel>();

    private PersonViewModel personModel = new PersonViewModel();
    private ElectionUserViewModel userModel = new ElectionUserViewModel();
    private VoterViewModel voterModel = new VoterViewModel();

    protected override async Task OnInitializedAsync()
    {
        activeElections = await ElectionManagementService.GetActiveElections();

        if (activeElections.Count() == 0)
        {
            errorMessage = "Nie ma żadnych trwających wyborów";
            StateHasChanged();
            await Task.Delay(1000);
            Cancel();
        }
    }

    private async Task CheckStatus()
    {
        hasVoted = null;
        if(activeElections.Count() > 0)
        {
            if (!string.IsNullOrWhiteSpace(pesel))
            {
                int index = await PersonManagementService.GetPersonIdByPeselAsync(pesel);

                if (index != 0)
                {
                    try
                    {
                        personModel = await PersonManagementService.GetPersonById(index);
                        userModel = await ElectionUserManagementService.GetElectionUserByPersonId(index);
                        voterModel = await VoterManagementService.GetVoterByElectionUserId(userModel.IdElectionUser);
                        if (voterModel.IdDistrict == null)
                        {
                            errorMessage = "Wyborca nie ma przypisanego obwodu!";
                        }
                        else
                        {
                            errorMessage = String.Empty;
                            if (hasVoted == null)
                            {
                                hasVoted = false;    
                            }

                            foreach(var actualElection in activeElections)
                            {
                                var electionVoterExists = await ElectionVoterManagementService.ElectionVoterExists(voterModel.IdVoter, actualElection.IdElection);
                                if(electionVoterExists)
                                {
                                    hasVoted = true;
                                    return;
                                }
                            }
                        }

                    }
                    catch (Exception ex)
                    {
                        errorMessage = "Nie ma takiego zarejestrowanego użytkownika w systemie";
                    }
                }
                else
                {
                    errorMessage = "Nie ma człowieka o podanych danych w ewidencji ludności w systemie!";
                }

            }
            else
            {
                errorMessage = "Proszę podać nr PESEL!";
            }
        }
    }
    private void Cancel()
{
    NavigationManager.NavigateTo("/cohome");
}
}
