@page "/checkvotestatus"
@rendermode InteractiveWebAssembly

@inject NavigationManager NavigationManager

<link href="forms.css" rel="stylesheet" />

<div class="form-container">
    <h1>SPRAWDŹ STATUS GŁOSOWANIA</h1>

    <form>
        <div class="form-group">
            <label for="district">OBWÓD GŁOSOWANIA</label>
            <input type="text" id="district" value="OKW 1 Kędzierzyn Koźle" readonly />
        </div>

        <div class="form-group">
            <label for="pesel">PESEL WYBORCY</label>
            <input type="text" id="pesel" placeholder="Nr Pesel wyborcy" />
        </div>
         <div class="form-row">
            <button type="button" class="submit-button" @onclick="CheckStatus">SPRAWDŹ STATUS</button>
            <button type="button" class="cancel-button" @onclick="Cancel">ANULUJ</button>
        </div>
    </form>
</div>

@code{
    private void Cancel()
    {
        NavigationManager.NavigateTo("/cohome");
    }
    private void CheckStatus()
    {
        NavigationManager.NavigateTo("/checkstatusresult");
    }
}
