@page "/cohome"

<div class="page-content">
    <a href="/info" class="button-informator">
        <div class="informator-wyborczy">Informator Wyborczy</div>
    </a>

    <a href="/candidates" class="button-kandydaci">
        <div class="text-wrapper">Kandydaci</div>
    </a>

    <a href="/stats" class="button-statystyki">
        <div class="div">Statystyki</div>
    </a>

    <a href="/cancelvoter" class="button-voters-list">
        <div class="text-wrapper-2">Wypis wyborców</div>
    </a>

    <a href="/checkvotestatus" class="button-check-status">
        <div class="text-wrapper-2">Sprawdź status głosowania</div>
    </a>

    <a href="/districtstats" class="button-district-stats">
        <div class="text-wrapper-2">Statystyki dla obwodu</div>
    </a>
</div>
