@page "/configure-commissioners"

<link href="buttonsMenu.css" rel="stylesheet" />

<div class="page-content">
    <h1>KONFIGURACJA SKŁADU KOMISJI</h1>
    <div class="button-container">
        <a href="/add-election" class="config-button config-button-green">DODAJ KOMISARZA DO OBWODU</a>
        <a href="/modify-election" class="config-button config-button-blue">WYŚWIETL SPISY KOMISJI</a>
        <a href="/add-election" class="config-button config-button-red">USUŃ KOMISARZA Z OBWODU</a>
    </div>
</div>
