@page "/configure-election"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<link href="buttonsMenu.css" rel="stylesheet" />
<link href="forms.css" rel="stylesheet" />

<CascadingAuthenticationState>
    <AuthorizeView Roles="Pracownicy PKW, Administratorzy" Context="authContext">
         <Authorized>

            <div class="page-content">
                <h1>KONFIGURACJA WYBORÓW</h1>
                <div class="button-container">
                    <a href="/add-election" class="config-button config-button-green">ZAREJESTRUJ WYBORY</a>
                    <a href="/modify-election" class="config-button config-button-blue">MODYFIKUJ WYBORY</a>
                    <a href="/delete-election" class="config-button config-button-red">USUŃ WYBORY</a>
                </div>
            </div>

        </Authorized>
        <NotAuthorized>
            <div class="not-authorized-container">
                <img src="images/WarningIcon.png" alt="Alert Icon" class="alert-icon" />
                <p class="not-authorized-message">Nie posiadasz odpowiednich uprawnień do wyświetlenia tej strony</p>
                <img src="images/WarningIcon.png" alt="Alert Icon" class="alert-icon" />
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
            