@page "/configure-election-users"

<link href="buttonsMenu.css" rel="stylesheet" />

<div class="page-content">
    <h1>KONFIGURACJA WYBORCÓW</h1>
    <div class="button-container">
        <a href="/add-voter" class="config-button config-button-green">DODAWJ WYBORCĘ DO OBWODU</a>
        <a href="/modify-election" class="config-button config-button-blue">WYŚWIETL SPISY WYBORCÓW</a>
        <a href="/change-voter-district" class="config-button config-button-red">ZMIEŃ OBWÓD WYBORCY</a>
    </div>
</div>
