@page "/forgot-password"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<div class="forgot-password-form">
    <div class="icon">
        <img src="images/forgot-password.png" alt="Ikona odzyskiwania hasła" width="400" height="400" />
    </div>

    <EditForm Model="@forgotPasswordModel" OnValidSubmit="HandleForgotPassword">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-row">
            <div class="input-group">
                <img src="images/envelope.png" alt="Ikona użytkownika" class="input-icon" />
                <InputText @bind-Value="forgotPasswordModel.Email" placeholder="Wprowadź swój E-MAIL" class="form-input" />
            </div>
        </div>

        <button type="submit" class="submit-button">WYŚLIJ LINK DO RESETU</button>
    </EditForm>
</div>

@code {
    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();

    private void HandleForgotPassword()
    {
        Console.WriteLine($"Wysłano link resetujący do: {forgotPasswordModel.Email}");
    }

    public class ForgotPasswordModel
    {
        [Required(ErrorMessage = "Adres e-mail jest wymagany.")]
        [EmailAddress(ErrorMessage = "Nieprawidłowy adres e-mail.")]
        public string Email { get; set; }
    }
}
