.forgot-password-form, .reset-password-form {
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.icon {
    font-size: 100px;
    color: #333;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    min-width: 200px;
    border: solid;
    border-color: slategray;
    border-radius: 10px;
    padding: 15px;
}

.input-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.form-input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 3px solid #ff0000;
    border-radius: 5px;
    background-color: black;
}

.submit-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background-color: #1E5899;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #0056b3;
    }
