@page "/"

<div class="page-content">
    <a href="/verify" class="button-glosuj">
        <div class="text-wrapper">Głosuj</div>
    </a>

    <a href="/info" class="button-informator">
        <div class="informator-wyborczy">Informator Wyborczy</div>
    </a>

    <a href="/candidateinfo" class="button-kandydaci">
        <div class="div">Kandydaci</div>
    </a>

    <a href="/statistics" class="button-statystyki">
        <div class="text-wrapper-2">Statystyki</div>
    </a>
</div>
