@page "/"

<div class="page-content">
    <a href="/verify" class="button-glosuj">
        <div class="text-wrapper">Głosuj</div>
    </a>

    <a href="/info" class="button-informator">
        <div class="text-wrapper">Informator Wyborczy</div>
    </a>

    <a href="/candidateinfo" class="button-kandydaci">
        <div class="text-wrapper">Kandydaci</div>
    </a>

    <a href="/statistics" class="button-statystyki">
        <div class="text-wrapper">Statystyki</div>
    </a>
</div>
