@page "/register"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms


<div class="registration-form">
    <div class="icon">
        <img src="images/profile-add.png" alt="Ikona główna" width="400" height="400" />
    </div>
    
    <EditForm Model="@registrationModel" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-row">
            <div class="input-group">
                <img src="images/user.png" alt="Ikona użytkownika" class="input-icon" />
                <InputText  @bind-Value="registrationModel.FirstName" placeholder="IMIĘ" />
            </div>
            <div class="input-group">
                <img src="images/user.png" alt="Ikona użytkownika" class="input-icon" />
                <InputText @bind-Value="registrationModel.LastName" placeholder="NAZWISKO" />
            </div>
        </div>
         
        <div class="form-row">
            <div class="input-group">
                <img src="images/cards.png" alt="Ikona identyfikacyjna" class="input-icon" />
                <InputText @bind-Value="registrationModel.PESEL" placeholder="PESEL" />
            </div>
            <div class="input-group">
                <img src="images/calendar.png" alt="Ikona kalendarza" class="input-icon" />
                <InputText @bind-Value="registrationModel.DateOfBirthString" type="date" placeholder="DATA URODZENIA" />
            </div>
        </div>

        <div class="form-row">
            <div class="input-group">
                <img src="images/envelope.png" alt="Ikona email" class="input-icon" />
                <InputText @bind-Value="registrationModel.Email" type="email" placeholder="ADRES EMAIL" />
            </div>
            <div class="input-group">
                <img src="images/phone.png" alt="Ikona telefonu" class="input-icon" />
                <InputText @bind-Value="registrationModel.PhoneNumber" placeholder="NUMER TELEFONU" />
            </div>
        </div>

        <div class="form-row">
            <div class="input-group">
                <img src="images/lock.png" alt="Ikona zamka" class="input-icon" />
                <InputText @bind-Value="registrationModel.Password" type="password" placeholder="HASŁO" />
            </div>
            <div class="input-group">
                <img src="images/lock.png" alt="Ikona zamka" class="input-icon" />
                <InputText @bind-Value="registrationModel.ConfirmPassword" type="password" placeholder="POTWIERDŹ HASŁO" />
            </div>
        </div>

        <div class="form-row double-column">
            <div class="input-group">
                <img src="images/District.png" alt="Ikona obwodu" class="input-icon" />
                <select @bind="registrationModel.SelectedDistrictId" class="dropdown">
                    <option value="">Wybierz Obwód</option>
                    @foreach (var district in districts)
                    {
                        <option value="@district.IdDistrict">
                            @district.DistrictName - @district.DistrictHeadquarters
                        </option>
                    }
                </select>
            </div>
        </div>

        <button type="submit" class="submit-button">ZAREJESTRUJ</button>
    </EditForm>

</div>

@code {
    private RegistrationModel registrationModel = new RegistrationModel();

    private void HandleRegistration()
    {
        Console.WriteLine($"Zarejestrowano użytkownika: {registrationModel.FirstName} {registrationModel.LastName}");
    }

    private List<District> districts = new List<District>
    {
        new District { IdDistrict = 1, DistrictName = "Obwód 1", DistrictHeadquarters = "Warszawa", DisabledFacilities = true },
        new District { IdDistrict = 2, DistrictName = "Obwód 2", DistrictHeadquarters = "Kraków", DisabledFacilities = false },
        new District { IdDistrict = 3, DistrictName = "Obwód 3", DistrictHeadquarters = "Poznań", DisabledFacilities = true }
    };

    public class RegistrationModel
    {
        [Required] public string FirstName { get; set; }
        [Required] public string LastName { get; set; }
        [Required] public string PESEL { get; set; }
        [Required] public DateTime DateOfBirth { get; set; }
        [Required, EmailAddress] public string Email { get; set; }
        [Required] public string PhoneNumber { get; set; }
        [Required] public string Password { get; set; }
        [Required, Compare(nameof(Password), ErrorMessage = "Hasła muszą się zgadzać")]
        public string ConfirmPassword { get; set; }
        [Required] public int SelectedDistrictId { get; set; }

        public string DateOfBirthString
        {
            get => DateOfBirth != DateTime.MinValue ? DateOfBirth.ToString("Data Urodzenia") : string.Empty;
            set
            {
                if (!string.IsNullOrEmpty(value))
                {
                    DateOfBirth = DateTime.Parse(value);
                }
            }
        }
    }

    public class District
    {
        [Required] public int IdDistrict { get; set; }
        [Required] public string DistrictName { get; set; }
        [Required] public bool DisabledFacilities { get; set; }
        [Required] public string DistrictHeadquarters { get; set; }
    }
}
