@page "/reset-password"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<div class="reset-password-form">
    <div class="icon">
        <img src="images/reset-password.png" alt="Ikona resetowania hasła" width="400" height="400" />
    </div>

    <EditForm Model="@resetPasswordModel" OnValidSubmit="HandleResetPassword">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-row">
            <div class="input-group">
                <img src="images/lock.png" alt="Ikona zamka" class="input-icon" />
                <InputText @bind-Value="resetPasswordModel.NewPassword" type="password" placeholder="Nowe HASŁO" class="form-input" />
            </div>

            <div class="input-group">
                <img src="images/lock.png" alt="Ikona zamka" class="input-icon" />
                <InputText @bind-Value="resetPasswordModel.ConfirmPassword" type="password" placeholder="Potwierdź HASŁO" class="form-input" />
            </div>
        </div>

        <button type="submit" class="submit-button">RESETUJ HASŁO</button>
    </EditForm>
</div>

@code {
    private ResetPasswordModel resetPasswordModel = new ResetPasswordModel();

    private void HandleResetPassword()
    {
        // Logika resetowania hasła
        if (resetPasswordModel.NewPassword == resetPasswordModel.ConfirmPassword)
        {
            Console.WriteLine("Hasło zostało zresetowane");
        }
        else
        {
            Console.WriteLine("Hasła nie pasują do siebie");
        }
    }

    public class ResetPasswordModel
    {
        [Required(ErrorMessage = "Nowe hasło jest wymagane.")]
        public string NewPassword { get; set; }

        [Required(ErrorMessage = "Potwierdzenie hasła jest wymagane.")]
        public string ConfirmPassword { get; set; }
    }
}
