@page "/uwhome"

<div class="page-content">
    <!-- Górne trzy przyciski -->
    <a href="/info" class="button-informator">
        <div class="informator-wyborczy">Informator Wyborczy</div>
    </a>

    <a href="/candidates" class="button-kandydaci">
        <div class="text-wrapper">Kandydaci</div>
    </a>

    <a href="/stats" class="button-statystyki">
        <div class="div">Statystyki</div>
    </a>

    <!-- Dolne trzy przyciski -->
    <a href="/configure-voters" class="button-voters">
        <div class="text-wrapper-2">Konfiguruj wyborców</div>
    </a>

    <a href="/configure-comitee" class="button-comitee">
        <div class="text-wrapper-2">Konfiguruj skład komisji</div>
    </a>

    <a href="/vote" class="button-vote">
        <div class="text-wrapper-2">Głosuj</div>
    </a>
</div>
