@page "/uwhome"


<div class="page-content">
    <a href="/info" class="button-informator">
        <div class="informator-wyborczy">Informator Wyborczy</div>
    </a>

    <a href="/candidateinfo" class="button-kandydaci">
        <div class="text-wrapper">Kandydaci</div>
    </a>

    <a href="/statistics" class="button-statystyki">
        <div class="div">Statystyki</div>
    </a>
    <a href="/voterslist" class="button-voters">
        <div class="text-wrapper-2">Konfiguruj wyborców</div>
    </a>

    <a href="/commissionerslist" class="button-comitee">
        <div class="text-wrapper-2">Konfiguruj skład komisji</div>
    </a>

    <a href="/vote" class="button-vote">
        <div class="text-wrapper-2">Głosuj</div>
    </a>
</div>
