@page "/verify"

<div class="page-content">
    <h1>UWIEŻYTELNIENIE TOŻSAMOŚCI</h1>

    <div class="election-info">
        PRZED ODDANIEM GŁOSU ZAPOZNAJ SIĘ Z INFORMATOREM WYBORCZYM
    </div>

    <a href="#" class="auth-option">
        <img src="/images/microsoftAuth.png" alt="Microsoft Authenticator" />
        Microsoft Authenticator
    </a>
    <a href="#" class="auth-option">
        <img src="/images/hardwareKey.png" alt="Klucz sprzętowy" />
        Klucz sprzętowy
    </a>
</div>
